In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity, euclidean_distances

In [2]:
data = pd.read_csv("TMDB.csv")

In [3]:
data.head()

,Unnamed: 0,original_language,overview,country_name,None,Comedy,Fantasy,Adventure,Thriller,Mystery,...,Documentary,Family,Western,Music,ScienceFiction,War,TVMovie,Action,Drama,Crime
0,0,en,"In the 22nd century, a paraplegic Marine is di...",United States of America,0,0,1,1,0,0,...,0,0,0,0,1,0,0,1,0,0
1,1,en,"Captain Barbossa, long believed to be dead, ha...",United States of America,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,2,en,A cryptic message from Bond’s past sends him o...,United Kingdom,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
3,3,en,Following the death of District Attorney Harve...,United States of America,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
4,4,en,"John Carter is a war-weary, former military ca...",United States of America,0,0,0,1,0,0,...,0,0,0,0,1,0,0,1,0,0

In [13]:
x = data[["overview","country_name","original_language"]]
y = data.iloc[:,4:]

In [12]:
y

,None,Comedy,Fantasy,Adventure,Thriller,Mystery,Animation,History,Romance,Foreign,...,Documentary,Family,Western,Music,ScienceFiction,War,TVMovie,Action,Drama,Crime
0,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4799,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4800,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
4801,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4802,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0